
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img/dice.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Top of the Table</b></h1>
                                <h3 class="h2">Your Gaming Needs Covered</h3>
                                <p>
                                    Restock on your favorite gaming supplies or discover your family's next favorite game. We have everything you need
                                    to make your gaming session successful.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img/game-night.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Family Game Night</b></h1>
                                <h3 class="h2">Bring your family together around the Table</h3>
                                <p>
                                    We have games that can be enjoyed by the whole family. From in depth strategy games to games where the outcome isn't decided by
                                    anyone at the table. Plan your next family game night today!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img/dragon.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success"><b>Miniature Madness</b></h1>
                                <h3 class="h2">Finish Your Army!</h3>
                                <p>
                                    Just getting started? Need that one last unit to complete your list. We've got you covered for all of your miniature needs. Don't get
                                    intimidated by the number of mini's you have to paint, get painting!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Popular Categories</h1>
                <p>
                    
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3 popular-category">
                <a asp-action="TileView" asp-controller="Products"><img src="~/img/GamesCategory.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Games</h5>
                <p class="text-center"><a class="btn btn-success" asp-action="TileView" asp-controller="Products">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 popular-category">
                <a asp-action="TileView" asp-controller="Products"><img src="~/img/MiniaturesCategory.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Miniatures</h2>
                <p class="text-center"><a class="btn btn-success" asp-action="TileView" asp-controller="Products">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 popular-category">
                <a asp-action="TileView" asp-controller="Products"><img src="~/img/DiceCategory.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Dice</h2>
                <p class="text-center"><a class="btn btn-success" asp-action="TileView" asp-controller="Products" >Go Shop</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->
    
